/a2_GestionClientes/target/
/GestionClientes/target/
/GestionProvedoresMVC/target/
/GestionProveedores/target/
/MI1aplicacionFX/nbproject/private/
/MI1aplicacionFX/build/
/MI1aplicacionFX/dist/
/Practica6/nbproject/private/
/Practica6/build/
/Practica6/dist/
/a6_PracticaExamenUF1/nbproject/private/
/a6_PracticaExamenUF1/build/
/a6_PracticaExamenUF1/dist/
/AlejandroRamirezGestionSeries/nbproject/private/
/AlejandroRamirezGestionSeries/dist/
/AlejandroRamirezGestionSeries/build/
